project-set/services/external-configuration-service/src/main/resources/META-INF/schema/config/external-configuration-config.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://docs.rackspacecloud.com/repose/external-configuration/v1.0"
           xmlns:external-configuration="http://docs.rackspacecloud.com/repose/external-configuration/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:xerces="http://xerces.apache.org"
           xmlns:saxon="http://saxon.sf.net/"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="external-configuration" type="external-configuration:ExternalConfigurationConfig"/>

    <xs:complexType name="ExternalConfigurationConfig">
        <xs:annotation>
            <xs:documentation>
                <html:p></html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:all>
            <xs:element name="port" type="xs:int" minOccurs="1" maxOccurs="1"/>
        </xs:all>
    </xs:complexType>

</xs:schema>