project-set/components/header-token-identity/src/main/resources/META-INF/schema/config/header-token-identity-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://docs.api.rackspacecloud.com/repose/header-token-identity/v1.0"
           xmlns:header-token-identity="http://docs.api.rackspacecloud.com/repose/header-token-identity/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:atom="http://www.w3.org/2005/Atom"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Client User Identity Configuration -->
    <xs:element name="header-token-identity" type="header-token-identity:HeaderTokenIdentityConfig" />

    <xs:complexType name="HeaderTokenIdentityConfig">
        <xs:annotation>
            <xs:documentation>
                <html:p></html:p>
            </xs:documentation>
        </xs:annotation>
        
        <xs:all>
            <xs:element name="token-header" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="quality" type="xs:string" minOccurs="0" maxOccurs="1" default="0.5" />
            <xs:element name="headers" type="header-token-identity:HeadersMapping" minOccurs="1" maxOccurs="1" />
        </xs:all>
    </xs:complexType>

    <xs:complexType name="HeadersMapping">
        <xs:annotation>
            <xs:documentation>
                <html:p></html:p>
            </xs:documentation>
        </xs:annotation>
        
        <xs:sequence>
            <xs:element name="header" type="header-token-identity:HeaderMapping" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>

    </xs:complexType>

    <xs:complexType name="HeaderMapping">
        <xs:annotation>
            <xs:documentation>
                <html:p></html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:attribute name="id" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <html:p></html:p>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>

        <xs:attribute name="group" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The group that will be used for rate limiting</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="token" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The token that will validate if a user is part of a group</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>